*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;



}



.coin-app{
  display: flex;
  flex-direction: column;
  color: #fff;
}

.coin-search{
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.coin-text{
  margin-bottom: 32px;
  text-align: center;
}

.coin-input{
  padding-left: 16px;
  width: 250px;
  height: 50px;

}

.coin-input ::placeholder{
  color: #e2e2e2;
}

.coin-toggle{

  
  justify-content: start;
 
}

.coin-percent {
  width: 100px;
}

.red {
  color: #f00606;
}

.green {
  color: #11d811;
}